@import 'src/variable';

.card {
  height: 340px;
  width: 340px;
  margin-bottom: 50px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  animation: fadeInUp .6s ease-in-out;
  @media screen and (width <=  768px) {
    width: 100%;
  }
  @media screen and (width <= 378px) {
    width: 335px;
    height:255px ;
  }


  &__img {
    border-radius: inherit;
    height: inherit;
    object-fit: cover;
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: -webkit-transform .4s;
    width: 340px;
  }

  &__overlay {
    background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), rgba(0, 0, 0, .5));
    border-radius: inherit;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;

  }

  &:hover {
    >.card__img {
      transform: scale(1.5);
    }
  }

  &__title {
    bottom: 0;
    box-sizing: inherit;
    color: $white;
    font-weight: 500;
    font-size: 1.1rem;
    margin: 20px;
    position: absolute;
  }
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(5px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}