
@import 'src/variable';
.home {
  background-color: $light-grey;
  border-radius: 25px;
  padding: 50px;
  margin-bottom: 50px;
  @media  (width <= 768px) {
    width: 100%;
    margin: auto;
    padding: 21px;
    margin-bottom: 50px;
  }

  @media screen and (width <= 375px) {
    padding: 16px;

  }

  &__contain {
    display: flex;
    flex-wrap: wrap;
    gap: 5.22%;
    @media  (width <= 768px) {
      gap: 2.22%;
    }
  }
}