@import 'src/variable';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  margin-top: 2.5rem;
  margin-bottom: 2.7rem;
  max-width: 1240px;

  @media (width <=810px) {
    justify-content: center;
    margin-top: 20px;
    font-size: 0.9rem;

  }

  @media screen and (width <=375px) {

    margin: auto;
    margin-top: 20px;

  }
}

.nav {
  gap: 3.25rem;
  display: flex;

  @media screen and (width <=375px) {
    width: 360px;
    align-items: baseline;
    gap: 0.3rem;
  }

}

.nav a {
  margin: 3rem;
  font-size: 1.5em;
  color: $primary-color;
  font-family: 'Montserrat', sans-serif;

  @media screen and (width <=375px) {

    margin: 0 0.4rem 0 0.4rem;


  }

  &.active {
    text-decoration: underline;

    &:hover {
      color: $dark-red
    }
  }
}

.logo {
  @media screen and (width <=375px) {

    padding: 10px;


  }
}

.logo__size {
  width: 80%;

  @media screen and (width <=375px) {

    width: 70%;

  }
}