@import 'src/variable';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight:500;
  margin-top: 2.5rem;
  margin-bottom: 2.7rem;
  max-width: 1240px;
  @media (max-width: 768px) {
    width: 70%;
    margin: auto ;
    margin-top: 50px;
   
  }
  @media screen and (width <= 375px) {
    width: 52%;
    margin: auto ;
    margin-top: 50px;
   
  }
}

.nav {
  gap: 3.25rem;
  display: flex;
}

.nav a {
  margin: 3rem;
  font-size: 1.5em;
  color: $primary-color;

  &.active {
    text-decoration: underline;

    &:hover {
      color: $dark-red
    }
  }
}

.logo__size {
  width: 80%;
}