@import 'src/variable';

.footer {
  display: table-row;
  height: 209px;

  &__content {
    display: flex;
    padding: 66px 464px 29px 463px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: $black;
    bottom: 0;
    margin-top: auto;

    gap: 28.556px;

    @media (width <=768px) {

      padding: 25px;
      height: 209px;
    }
  }

  @media (width <=768px) {
    width: 75%;

  }

  &__txt {
    color: $white;
  }
}