@import 'src/variable';

.banner {
  align-items: center;
  border-radius: 25px;
  display: flex;
  height: 13.75rem;
  justify-content: center;
  margin-bottom: 2.75rem;
  overflow: hidden;
  position: relative;
  width: 100%;

  @media (width <=768px) {
    width: 89%;
    margin-bottom: 50px;
    margin: 25px;
  }

  @media screen and (width <=376px) {
    width: 335px;
    height: 111px;
    margin: 20px;
  }

  &__kasa {
    object-fit: cover;
  }

  &__overlay {
    background: rgba(0, 0, 0, .3);
    border-radius: inherit;
    height: 100%;
    mix-blend-mode: darken;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__title {
    box-sizing: inherit;
    color: $white;
    font-size: 3rem;
    font-weight: 500;
    padding: 0;
    position: absolute;
    text-align: center;

    @media (width <=810px) {
      font-size: 2rem;
    }
    @media screen and (width <=376px) {
    font-size: 1.5rem;
    text-align: inherit;
    padding: 10px;
    }
    
  }
}